{% set _policy_suffix = portworx_pure_policy_suffix | default('') %}
{% if portworx_pure_apply_storagecluster | default(true) | bool %}
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: portworx-pure-secret{{ _policy_suffix }}
  namespace: {{ portworx_pure_policy_namespace }}
  annotations:
    policy.open-cluster-management.io/standards: Portworx Pure FlashArray
    policy.open-cluster-management.io/categories: Credentials
    policy.open-cluster-management.io/controls: px-pure-secret
    openshift-lab/target-site: "{{ portworx_pure_site_name }}"
    openshift-lab/flasharray: "{{ pure_flasharray_name }}"
spec:
  remediationAction: {{ portworx_pure_policy_remediation_action }}
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: portworx-pure-secret{{ _policy_suffix }}
        spec:
          remediationAction: {{ portworx_pure_policy_remediation_action }}
          severity: high
          object-templates:
            - complianceType: musthave
              objectDefinition:
                apiVersion: v1
                kind: Namespace
                metadata:
                  name: {{ portworx_namespace }}
            - complianceType: musthave
              objectDefinition:
                apiVersion: v1
                kind: Secret
                metadata:
                  name: px-pure-secret
                  namespace: {{ portworx_namespace }}
                type: Opaque
                stringData:
                  pure.json: |
                    {
                      "FlashArrays": [
                        {
                          "MgmtEndPoint": "{{ pure_flasharray_mgmt_endpoint }}",
                          "APIToken": "{{ pure_flasharray_api_token }}"{% if pure_flasharray_realm | default('') | length > 0 %},
                          "Realm": "{{ pure_flasharray_realm }}"{% endif %}
                        }
                      ]
                    }
{% endif %}
